
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.select-weakness {
	width: 200px;
}

.select-height {
	width: 50px;
}